
* {
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-appearance: value;
    -moz-appearance: value;
    appearance: value;
    word-break: break-word;
}

html,
body,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
fieldset
{
    margin: 0px;
    padding: 0px;
    border: 0;
    outline: 0;
    font-size: 100%;
}

a,
img a {
    text-decoration: none;
    border: 0;
    outline: 0 !important;
    transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
}
figure{
    margin: 0;
    padding: 0;
}
a,
button,
input {
    transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
}

 :focus {
    outline: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

ol,
ul,
li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

img,button{
    user-select: none;
    -webkit-user-drag: auto;
}
button{
    cursor: pointer;
}
a,img{
    -webkit-tap-highlight-color: transparent;
-moz-tap-highlight-color: transparent;

}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a:hover,a:active,a:focus{
    text-decoration: none !important;
}

.clear {
    clear: both;
}

.clearfix:after {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.full-height, body, html {
    height: 100%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

a{
    cursor: pointer;
}

img{
    user-select: none;
    -webkit-user-drag: none;
}



.pointer {
    cursor: pointer;
}

section {
    width: 100%;
    position: relative;
}


.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.vertical_mid{
    align-items: center;
}
.desktop_hide{
    display: none !important;
}
@media(max-width:766px){
    .mob_reverse{
        flex-flow: column-reverse !important;
    }
    .mob_hide{
        display: none !important;
    }
    .desktop_hide{
        display: block !important;
    }
}

.m_r_20{
    margin-right: 20px;
}



.align_center{
    align-items: center;
}
.h_center{
    justify-content: center;
}