$color-primary:#00E2CD;
$color-primary-light:#00D6C2;

$color-gray:#575967;

$color-white:#ffffff;
$color-white-dark:#FFFFFFF2;
$color-orange:#df5509;
$color-black:#15161A;
$color-blue:#06428D;

$sectionbg:#F9FBFE;
//Grid
$container:73.125rem;







