@import './base';
@import './variable';
@import './grid';
@import './animation';
@import './typography';
@import './layout';
@import './form';
@import url("https://use.typekit.net/ksc4joc.css");





html {
    scroll-behavior: smooth;
  }
body{
    font-family: europa, sans-serif;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}
.app_wrapper{
    position: relative;
    min-height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 0 65px 0;

    &.waterbg{
        background-image: url('../images/bg_img.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.welcome_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    a{
        color: #000;
        display: inline-block;
        margin: 20px 0 0 0;
    }

    .welcome_note{
        font-size: 32px;
        font-weight: 300;
        margin-bottom: 20px;
    }
    h1{
        font-size: 42px;
        margin: 30px 0 0;
        font-weight:500;
    }
}


.head_section {
    text-align: center;
    padding: 46px 0;
    text-transform: uppercase;
    .brand {
        display: flex;
        align-items: center;
        justify-content: center;
        .brand_txt{
            font-size: 55px;
            margin-left: 10px;
        }
    }
}
.tagline_wrap{
    .tagline {
        width: 540px;
        margin: 0 auto;
        font-size: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 300;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    p{
        font-size: 16px;
    }
}


.form_wrapper {
    max-width: 600px;
    margin: 20px auto;
}

.dots_wrapper{
    text-align: center;
    margin: 50px 0 20px;
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        li{
            width: 8px;
            height: 8px;
            margin: 0 2px;
            border-radius: 50%;
            border: 1px solid #0000003b;
            &.active{
                background-color: #000;
            }
        }
    }
}


.primary_btn {
    padding: 8px;
    font-size: 14px;
    color: $color-orange;
    background: #000;
    border-radius: 25px;
    width: 120px;
}

.outline_btn{
    padding: 8px;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 25px;
    width: 120px;
    &:hover{
        background-color: #000;
        color: #fff;
    }
}



.custom_select .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 100% !important;
}
.bootstrap-select .dropdown-toggle:focus{
    outline: none !important;
}

.custom_select .btn-light {
    color: #212529 !important;
    background-color: transparent !important;
    border-color: #000;
    border: none;
    // border-bottom: 1px solid !important;
    border-radius: 0;
}
.custom_select .btn-light:hover {
    color: #212529;
    background-color: transparent;
    border-color: #000;
}
.custom_select .bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    background: transparent !important;
    outline: none !important;
    box-shadow: none !important;
}

.bootstrap-select .dropdown-menu.inner{
    background: #000;
    color: #fff;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b !important;
    text-decoration: none;
    background-color: #f8f9fa;
}
.dropdown-item.active, .dropdown-item:active{
    background-color: #fff !important;
    color: #000 !important;
}
.dropdown-toggle::after{
    background-image: url('../images/line-angle-down.svg');
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    border: none !important;
    background-position: center;
}
.dropup .dropdown-toggle::after{
    background-image: url('../images/line-angle-up.svg');
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    border: none !important;
}